/* #contentbox1 div {
    height: 80vh;
} */

.content-box {
    width: 60vw;
    height: 50vh;
    margin: auto;
    margin-top: 30px;
    padding: 0;
}

.profilepic {
    /* position: absolute; */
    /* height: 100%;
    width: 100%; */
}

.introductiontext {
    position: relative;
    top: -800px;
    left: 650px;
    z-index: 1;
}

.introductiontext p {
    font-size: 40px;
    display: inline;
    /* top: -300px; */
}