body {
    background-color: #ffccff;
}

.contentbox {
    width: 75vw;
    height: 80vh;
    margin: auto;
    padding: 0;
    /* display: flex;
    justify-content: center; */
}

.profilepic {
    height: 100%;
    width: 100%;
}

.introductiontext {
    position: relative;
    top: -95%;
    left: 36%;
    z-index: 1;
    text-align: center;
    padding: 0;
    width: 40vw;
    height: 30vh;
    line-height: 55px;
    border: 1px solid black;
    border-radius: 100px;
}

.introductiontext p {
    font-size: 3vw;
    display: inline;
}

.introductiontext h1 {
    font-size: 5vw;
    margin: 0;
}


/* 
@media (max-width: 600px) {}

@media (max-width: 768px) {
    .introductiontext p {
        font-size: 20px;
    }
}

@media (min-width: 769px) {
    .introductiontext p {
        font-size: 40px;
    }
} */