body {
    background-color: #ffccff;
}

.contentbox1 {
    /* border: 1px solid black; */
    width: 45%;
    height: 500px;
    margin: auto;
    margin-top: 30px;
}

.contentbox1 div {
    display: block;
    border: 1px solid white;
    width: 100%;
    height: 200px;
    margin: auto;
    padding-top: 50px;
}