body {
    background-color: #ffccff;
}

.content-boxes div {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    padding: 0;
    /* display: block; */
}

.box div {
    width: 80%;
    height: 230px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2);
}