html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    background-color: #ffccff;
}

.content-boxes div {
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    padding: 0;
}

.box div {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2);
    /* animation-name: motion;
    animation-duration: 4s;
    animation-delay: -2s;
    left: 1000px; */
}


/* @keyframes motion {
    0% {
        left: 1000px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
} */