nav {
    font-family: Didot;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2);
    width: 900px;
    height: 120px;
    margin: auto;
    background-color: white;
}

nav ul {
    list-style-type: none;
    padding-top: 50px;
    margin-left: 15%;
}

nav li {
    display: inline;
    padding-top: 14px;
    padding-bottom: 12px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50px 50px 50px 50px;
}

li a {
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px 50px 50px 50px;
    padding: 15px;
    color: black;
}

nav i {
    padding-right: 10px;
}

.about {
    background-color: #f6d5f6;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.travel {
    background-color: #dcd2f9;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.recipes {
    background-color: #ccffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.selfcare {
    background-color: #ccffd9;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.about a:hover {
    background-color: #ffccff;
}

.travel a:hover {
    background-color: #ccccff;
}

.recipes a:hover {
    background-color: #ccffff;
}

.selfcare a:hover {
    background-color: #ccffcc;
}

.about.active {
    background-color: #ffccff;
}

.travel.active {
    background-color: #ccccff;
}

.recipes.active {
    background-color: #ccffff;
}

.selfcare.active {
    background-color: #ccffcc;
}


/* .tabs p {
    overflow: hidden;
    max-width: 0;
}

.tabs.active p {
    max-width: 200px;
    padding-left: 10px;
    transition: max-width 0.4s linear;
} */