nav {
    border-radius: 50px 0px 50px 0px;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2);
    width: 80vw;
    height: 20vh;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* nav div {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
} */

nav div {
    /* padding: 12px 20px; */
    border-radius: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav i {
    padding-right: 10px;
}

div p {
    overflow: hidden;
}

.about {
    background-color: #f6d5f6;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.travel {
    background-color: #dcd2f9;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.recipes {
    background-color: #ccffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.selfcare {
    background-color: #ccffd9;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    div p {
        max-width: 0;
        height: 25px;
    }
    nav div {
        padding: 25px;
    }
    div i {
        padding-left: 10px;
    }
}

@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }
    .open {
        max-width: 0;
        height: 25px;
    }
    nav div {
        padding: 25px;
    }
    div i {
        padding-left: 10px;
    }
    .about a:hover {
        padding: 5px 28px;
    }
    .travel a:hover {
        /* padding: 5px 28px; */
        /* background-color: black; */
    }
    .recipes a:hover {
        padding: 5px 18px;
    }
    .selfcare a:hover {
        padding: 5px 18px;
    }
    .about.active {
        background-color: #ffccff;
        padding: 5px 20px;
    }
    .travel.active {
        background-color: #ccccff;
        padding: 5px 20px;
    }
    .recipes.active {
        background-color: #99ffff;
        padding: 5px 20px;
    }
    .selfcare.active {
        background-color: #99ff99;
        padding: 5px 20px;
    }
    .active a:hover {
        padding: 0px;
    }
}

@media (min-width: 768px) {
    .open {
        padding: 0px 25px;
    }
    .about a:hover {
        padding: 5px 18px;
    }
    .travel a:hover {
        padding: 5px 18px;
    }
    .recipes a:hover {
        padding: 5px 18px;
    }
    .selfcare a:hover {
        padding: 5px 18px;
    }
    .about.active {
        background-color: #ffccff;
        padding: 10px 25px;
    }
    .travel.active {
        background-color: #ccccff;
        padding: 10px 25px;
    }
    .recipes.active {
        background-color: #99ffff;
        padding: 10px 25px;
    }
    .selfcare.active {
        background-color: #99ff99;
        padding: 10px 25px;
    }
    .active a:hover {
        padding: 0px;
    }
}