nav {
    font-family: Didot;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2);
    width: 900px;
    height: 120px;
    margin: auto;
    background-color: white;
}

nav ul {
    list-style-type: none;
    padding-top: 50px;
    margin-left: 10%;
}

nav li {
    display: inline;
    margin-right: 8px;
    margin-left: 5px;
    padding: 10px 20px;
    border-radius: 50px 50px 50px 50px;
}

li a {
    font-size: 18px;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    text-decoration: none;
    color: black;
}

nav i {
    padding-right: 10px;
}

.about {
    background-color: #f6d5f6;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.travel {
    background-color: #dcd2f9;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.recipes {
    background-color: #ccffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.selfcare {
    background-color: #ccffd9;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.about a:hover {
    padding: 12px 18px;
}

.travel a:hover {
    padding: 12px 18px;
}

.recipes a:hover {
    padding: 12px 18px;
}

.selfcare a:hover {
    padding: 12px 18px;
}

.about.active {
    background-color: #ffccff;
    padding: 15px 25px;
}

.travel.active {
    background-color: #ccccff;
    padding: 15px 25px;
}

.recipes.active {
    background-color: #99ffff;
    padding: 15px 25px;
}

.selfcare.active {
    background-color: #99ff99;
    padding: 15px 25px;
}

.active a:hover {
    padding: 0px;
}